<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Webflux</title>
</head>
<body>
<div class="container">

    <div class="row">
        <div id="title">
            <h1>Spring WebFlux + Thymeleaf</h1>
        </div>
        <table id="allMovies" class="table table-striped">
            <thead>
            <tr>
                <th width="50%">Name</th>
                <th>Score</th>
            </tr>
            </thead>

            <tbody>
            <tr class="result" th:each="movie : ${movies}">
                <td>[[${movie.name}]]</td>
                <td>[[${movie.score}]]</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--<div class="container">-->

<!--    <div class="row">-->
<!--        <div>-->
<!--            <h1>Spring Jpa + Thymeleaf</h1>-->
<!--        </div>-->
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th width="50%">Name</th>-->
<!--                <th>Score</th>-->
<!--            </tr>-->
<!--            </thead>-->

<!--            <tbody>-->
<!--            <tr class="result" th:each="movie : ${moviesJpa}">-->
<!--                <td>[[${movie.name}]]</td>-->
<!--                <td>[[${movie.score}]]</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>